/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body {
    font-size: 14px;
}
a {
    text-decoration: none;
    color: inherit;
}
li {
    display: inline-block;
    margin-right: .5em;
}
img {
    max-width: 100%;
}



/* UTILITY */
.container {
    max-width: 1200px;
    margin: 0 auto
}
.row {
    display: flex;
}
section {
    padding: 3rem 0;
}
.badge {
    font-size: .8rem;
    font-weight: bold;
    padding: .5em;
    color: #fff;
}
.badge-price {
    background-color: red;
}
.badge-sostenibilita {
background-color: green;
}



/* HEADER */
header {
    background-color: #FF6900;
    color: #fff;
    padding: 1rem 0;

    box-shadow: 0px 0px 5px rgba(0,0,0,0.75);
}
header .row {
    justify-content: space-between;
    align-items: center;
}
header .main-menu li > a {
    font-weight: bold;
}
header .logo > img {
    max-height: 2rem;
}



/* MAIN */
main .row {
    flex-wrap: wrap;
    gap: 1rem;
}
.card {
    flex: 1 1 30%;

    /* DEBUG */
    /* width: calc((100% - 2rem) / 3); */
}
.card-image {
    position: relative;
}
.card-image .img-secondary {
    display: none;
}
.card:hover .img-secondary {
    display: inline-block;
}
.card:hover .img-primary {
    display: none;
}
.badges {
    position: absolute;
    bottom: 2rem;
    left: 0;
}
.favourite {
    position: absolute;
    top: 1rem;
    right: 0;
    background-color: #fff;
    padding: 1rem;
}
.product-brand {
    font-size: .8rem;
}
.product-name {
    font-weight: bold;
}
.product-price {
    font-size: .8rem;
}
.price-new {
    font-weight: bold;
    color: red;
}




/* FOOTER */
footer {
    background-color: #1A1A1A;
    color: #fff;
    padding: 1rem 0;
}
footer .row {
    justify-content: space-between;
    align-items: center;
}
footer h3,
footer p {
    margin-bottom: .5rem;
}